.jlib-button {
  border-radius: 5px;
  box-shadow: 5px 5px grey;
  font-size: 15px;
  font-weight: 800;
}

#jlib-content {
  margin: 50px;
  padding: 15px;
}

.jlib-select {
  width: 75px;
  height: 20px;
  border-radius: 5px;
}

.jlib-table {
  border-collapse: collapse;
}

.jlib-table, .jlib-table th, .jlib-table td {
  border: 1px solid black;
}

.jlib-table th, .jlib-table td {
  padding: 10px;
}

.jlib-modal {
  position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
}

.jlib-modal-content {
  width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.jlib-button-push {
  box-shadow: 0px 7px 1px lightgrey;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 3px;
}

.jlib-button-push:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.jlib-button-push:active {
  box-shadow: 0px 5px 1px lightgrey;
  transform: translateY(2px);
}

.jlib-chatbox {
  
}

.jlib-dragging {
  border: 1px solid royalblue;
}

.jlib-hole {
  border: 1px solid black;
  min-width: 50px;
  min-height: 100px;
}

.dropzone {
  border: 1px solid peru;
}

.jlib-clickable-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
  height: 180px;
}

.jlib-clickable-image:hover {
  opacity: 0.7;
}

.jlib-modal-image {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.jlib-modal-image-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.jlib-modalimg-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.jlib-modal-image-content, .jlib-modalimg-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.jlib-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.jlib-close:hover,
.jlib-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
  .jlib-modal-image-content {
      width: 100%;
  }
}

.jlib-prev,
.jlib-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.jlib-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.jlib-prev:hover,
.jlib-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.jlib-progress-container {
  width: 100%;
  background-color: rgb(245, 40, 40); 
}

.jlib-progress {
  text-align: right; /* Right-align text */
  padding-right: 20px; /* Add some right padding */
  line-height: 20px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
  color: white; /* White text color */
  background-color: rgb(69, 173, 69);
  box-sizing:border-box;
}
